@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
	flex-direction:column;
	display: flex;
  justify-content:center;
  flex: 0 0 auto;
  
}
.prof{
	position: absolute;
	right: 45px;
	width: 25px;
	height: 25px;
	margin: 10px;
}
.add{
	position: absolute;
	right: 0%;

	width: 25px;
	height: 25px;
	margin: 10px;
}
.logo {
	width: 25%;
}

.header {
	text-align: center;
}

.menu{
	margin: 20px 0;
	background-color: #c9c9c9;
	font-family: 'Quicksand', sans-serif;
}
.menu ul{
	display: flex;
	justify-content: space-around;
	flex-direction:row;
}
.menu ul li{
	font-weight: bold;
	list-style-type: none;
}
a{
	text-align: center;
	text-decoration: none;
	color: black;
}
p{
	text-align: center;
}
.links{
	display: flex;
	justify-content:center;
}
.links img{
	width: 30px;
	height: 30px;
	margin: 10px;
}

hr{
	width: 80%;
	margin: 0 auto;
}

h2{
	font-size: 80%;
	text-align: center;
}
h3, p, h1{
	text-align: center;
}
.all{

	display: flex;
	width: 60%;
	margin: 30px auto;
	background-color: #c9c9c9;
	border-radius: 10px;
}
.half{
	display: flex;
	width: 50%;
	justify-content:center;
}
.half_2{
	padding:10px;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	width: 50%;

}
.bigimg{
	padding: 20px;

	width: 80%;
	height: calc(140%/2);
}
.take{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}
.buy{
	border: 1px solid gray;
	border-radius: 5px;
	width: 40%;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.buy:hover{
	border: 1px solid black;
	border-radius: 5px;
	color: black;
}
.slideshow-container{
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-style: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next{
	right: 8px;
	border-radius: 3px 0 0 3px;
}
.prev{
	left: 8px;
}
.prev:hover, .next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

.mySlides{
	text-align: center;
	max-height: 700px;
}
.dots, .dotss, .dotsss{
	position: absolute;
	bottom: 10px;
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #eee;
	border-radius: 50%;
	display: inline-block;
	transition: background-color:0.6s ease;

}
.dots{
	margin-left: -15px;
}
.dotsss{
	margin-left: 20px;
}
.active, .dot:hover{
	background-color: #717171;
}
.fade{
	-webkit-animation-name:fade;
	-webkit-animation-duration:1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade{
	from{opacity:.4}
	to{opacity: 1}
}
@keyframes fade{
	from{opacity: .4;}
	to{opacity: 1;}
}


@media screen and (max-width: 820px){
		.littleimg {
			display: none;
		}

		.all {
			display: block
		}

		.half {
			width: 90%;
			margin: 0 auto;
			text-align: center;
		}

		.half img {
			margin: 0 auto;
		}

		.half_2 {
			line-height: 25px;
			font-size: 15px;
			width: 90%;
			margin: 0 auto;
		}
}
