body{
	background-color: #EBF1FF;

}
header{
	width: 100%;
	height: 10%;
}
.h_img{
	width: 100%;
	height: 100px;
}
.h_img img{
	padding-left: 40%;
	padding-right: 40%;
	width: 20%;
	height: 100%;
	align-items: center;
}
.menu{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #6496FF;
}
.menu a{
	font-size: 100%;
	text-decoration: none;
	color: #fff;
}
h2{
	font-size: 80%;
	text-align: center;
}
h3{
	text-align: center;
}
p{
	text-align: center;
}
.inf{
	width: 50%;
	margin: 20px 25%;

}
.add{
	position: absolute;
	margin: 10px;
	width: 25px;
	height: 25px;
	right: 0;
	top: 0;

	}
.profile{
	position: absolute;
	margin: 10px;
	width: 25px;
	height: 25px;
	right: 45px;
	top: 0;
}
hr{
	width: 70%;
}
a{
	text-decoration: none;
	color: black;
	font-size: 80%;
	text-align: center;
	display: block;
	font-weight: bold;
}
a:hover{
	color: blue;
}
.body{
	display: flex;
	margin: auto;
	width: 80%;
}
.half{
	display: flex;
	width: 50%;

}
.half_2{
	display: flex;
	flex-direction: column;
	width: 50%;

}
.bigimg{
	padding: 20px;
	width: 75%;
	height: calc(140%/2);
}
.littleimg{
	width: 25%;
	height: 75%;
	flex-direction: column;
	display: flex;
	align-content: center;
	justify-content: space-around;
}
.littleimg img{
	width: 90%;
}
.take{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}
.buy{
	border: 1px solid gray;
	border-radius: 5px;
	width: 40%;
	text-align: center;
	padding-top: 15px;
	text-decoration: none;
	font-size: 110%;
}
.buy:hover{
	border: 1px solid black;
	border-radius: 5px;
	color: black;
}

.logos{
	display: flex;
	justify-content: center;
}
.logos img{
	width: 30px;
	height: 30px;
	margin: 10px;
}